<div class="c-cta">
    <div class="l-inner">
        <p class="c-cta__time"><span>30</span>秒で完了！</p>
        <div class="c-cta__btn">
            <a href="<%= basePath %>entry/">無料で求人を紹介してもらう</a>
        </div>
    </div>
</div>